<!DOCTYPE html>
<html>
    <head>
        <%- include("plantillaHeadLogin") %>
    </head>
    <body>
        <%- include("plantillaBarraSuperiorLogin") %>   

        <!-- Entrar -->
        <br><br><br><br><br><br><br><br><br>
        <div class="pestaña">NUEVO USUARIO</div>

        <div class="ContenedorInfomracion">
            <div class = "contenedorInfoIzquierda">
                <ul class="ul">
                    <li> Email </li><br>
                    <li> Contraseña </li><br>
                    <li> Nombre completo </li><br>
                    <li> Sexo </li><br>
                    <li> Fecha nacimiento </li><br>
                    <li> Imagen de perfil </li><br>
                </ul> 
            </div>
            <div class = "contenedorInfoDerecha">
                <form action="form_newUser.html" method="POST">
                <ul class="ul">
                    <li><input type="text" name="email"></li><br>
                    <li><input type="text" name="contraseña"></li><br>
                    <li><input type="text" name="nombreCompleto"></li><br>
                    <li><input type="radio" name="sexo" value="H"> Hombre
                        <input type="radio" name="sexo" value="M"> Mujer
                        <input type="radio" name="sexo" value="O"> Otro
                    </li><br>
                    <li><input type="date" name="fechaNacimiento"></li><br>
                    <li><input type="file" name="imagen" id="imagen"></li>
                </ul>
               
            </div>
        </div>
        
        <div class="botonModificar"> <button class="link2" type="submit" href="/profile.html">CREAR USUARIO</button></div>
        </form>
    </body>
</html>