<div class="ContenedorHeader">
    <div class="hArriba">
        FACEBLUFF
    </div>
    <div class="hAbajo">
        <div class="hAbajo1"> <a class ="link" href="/usuarios/login.html"> Entrar</a></div>
        <div class="hAbajo1"> <a class ="link" href="/usuarios/newUser.html"> Nuevo usuario</a></div>
        </div>            
    </div>      
</div>    