<title>Face Bluff-Perfil</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media= "screen" href="/redSocial.css">
<link rel="stylesheet" type="text/css" media="print" href="/redSocial.css">
<link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fascinate Inline" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka One" rel="stylesheet">

<style type="text/css"> a:link { text-decoration:none; } </style> <!-- Para quitar subrayado enlaces -->