<div class="ContenedorHeader">
    <div class="hArriba">
        FACEBLUFF
    </div>
    <div class="hAbajo">
        <div class="hAbajo1"> <a class ="link" href="/usuarios/profile.html"> Perfil</a></div>
        <div class="hAbajo1"> <a class ="link" href="/usuarios/friends.html"> Amigos</a></div>
        <div class="hAbajo1"> <a class ="link" href="/preguntas/tablero.html"> Preguntas</a></div>
        <div class="hAbajo1"> <a class ="link" href="/usuarios/logOut"> Desconectar</a></div>
        <!--<div class="hAbajo1"> <a class ="link" href="enlace"> <img src="icons8-comprobado-48.png" alt="50 puntos"></a></div>-->
        <div class="hAbajo1"> 
            <img src="/usuarios/imagenUsuario" width="50" height="50">
            <a><%=puntos%></a>
        </div>            
    </div>      
</div> 